<!DOCTYPE html>
<html>
  <head>
    <title>ModalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <dialog data-controller="dialog" data-action="keydown.meta+k@window->dialog#open">
      <form method="dialog">
        <button>Close</button>
      </form>

      <!-- Search input and results will go there -->
    </dialog>
  </body>
</html>
